html, body, .jumbotron {
	background-color: #f3f4fa;
	background-image: url("MOkev.JPG");
	background-size: cover;
	text-align: center;
}
.jumbotron {
  display: flex;
  align-items: center;
  /*background-image: url("DARKsun.JPG");
  background-size: cover;*/
  height: 500px;
}
.jumbotron h2 {
  padding-top: 125px;
  color:#ffffff;
  font-family: 'Baloo', cursive;
  font-size: 56px;
}
.btn.btn-primary {
  border-radius: 40px;
  border: 20px;
  color: #ffffff;
  text-shadow: none;
  background-color: #000000;
}
.btn.btn-primary:hover {
  color: #732844;
  background-color: #64640a;
}
.row.text-center-below {
  padding: 10px;
}
li {
    display: block;
    font-size: 17px;
    color: white;
    font-family: 'Baloo', cursive;
}

li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content:"\e005";
    font-family: 'Glyphicons Halflings';
    font-size: 17px;
    position: relative;
    margin-right: 10px;
    top: 3px;
    /*padding-right: 3px;
    padding-top: 1px;*/
    color: black;
}
/* centering is off it seems like needs to be fixed, maybe use a class to center all at once or specifically center all at the same time to avoid issues with centering being off */
/*ul {
    list-style-position: inside;
    list-style-type: circle;
}*/